main {
    background-color: $black;
    height: 650px;
    .container {
        .cards-row {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 2rem;
            .card-col {
                flex-basis: calc(100% / 6);
                margin-top: 2rem;

                overflow: hidden;
                figure {
                    height: 200px;
                    width: 200px;
                    padding: 10px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                figcaption {
                    padding: 10px;
                    color: $white;
                    font-size: 16px;
                }
            }
        }
    }
}
